.jumbotron
  %h1 Farmbot Web Backend

%h1
  Some links
  %p
    This is just supposed to be an API, but I'm leaving these links in for convinience.
  %ul
    %li
      = link_to 'Register for an account', new_user_registration_path
    %li
      = link_to 'Edit your account', edit_user_registration_path
    %li
      = link_to 'Log In', new_user_session_path
    %li
      = link_to 'Forgotten Password (inop)', new_user_password_path
    %li
      = link_to 'Delete your account', cancel_user_registration_path